## this is the docker-compose .env file

# project name used by docker
COMPOSE_PROJECT_NAME=odysseus

LOCALHOST_DOMAIN=odysseus.dev
LOCALHOST_HTTP_PORT=9080
LOCALHOST_HTTPS_PORT=9443

# app containers 
LOCALHOST_PHP56_PORT=9056

# mysql
LOCALHOST_MYSQL56_PORT=9016

# this env var is in this docker-compose env file because
# it is needed in the confg file for a healthcheck of the mysql container
MYSQL_ROOT_PASSWORD=wordpress

# xdebug.remote_host = your ip address
# cat ~/Library/Containers/com.docker.docker/Data/database/com.docker.driver.amd64-linux/slirp/host
XDEBUG_REMOTE_HOST=192.168.1.1

# wordpress & woocommerce versions
# WP_VERSION=latest
# WP_MULTISITE=0
# WC_VERSION=latest